.DS_Store
*.swp
*.swo
*.pyc
.idea/
webapp/php/vendor
bench/isucon7q-initial-dataset.sql.gz
bench/result.json
webapp/perl/local

bench/
.circleci/

php/
python/
ruby/
nodejs/
perl/

icons/
convert_tool
